@font-face { font-family: FEHFont; src: url('generalFEHFont.ttf'); }
@font-face { font-family: FEHTitleFont; src: url('VenturisADF-BoldItalic.otf'); }

html, body, div, span, p, main {
    padding: 0px;
    margin: 0px;
    color: black;
}

html {
    background: black; /* For browsers that do not support gradients */
    background: linear-gradient(to right, #545454, black, black, #545454);
    background-image: url("img/Bg_Title.png");
    background-repeat: repeat-x;
    background-size:cover;
}

.test {
    background-color: red;
    border: 1px solid blue;
}

html, body, div, span, main {
    padding: 0px;
    margin: 0px;
    color: black;
    text-align: center;

}
input, select {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
}
input::-webkit-input-placeholder {
    color: #3B444B;
}

#gif {
    position: absolute;
    width: 20%;
    left: 40%;
    top: 20%;
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity:0.7;
    transition: background-color 0.3s ease-in-out;
}

#titles {
    font-family: 'FEHTitleFont';
    margin-left: 25%;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    background: linear-gradient(-45deg, #C49900, #FFF683);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#simulateButton {
    font-size: 120%;
    margin: 20px;
    background: linear-gradient(-45deg, #C49900, #FFF683);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navbar {
    font-family: FEHTitleFont;
    margin-left: 25%;
    width: 50%;
    text-align: center;
    color: black;
    font-weight: lighter;
    font-size: 70%;
    margin-top: 10px;
}
#navbar a {
    color: black;
    font-style: italic;
}

#subtitle {
    margin-left: 25%;
    text-align: center;
    width: 50%;
    margin-top: 50px;
    font-family: FEHFont;
}
.subtitle {
    font-family: FEHFont;
    font-weight: bold;
}

.psets {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 15px;
    border: 1px solid silver;
    text-align: center;
}
.psets td, th{
    font-family: FEHFont;
    width: 40%;
    margin-top: 3px;
    text-align: center;
}

.formBox {
    font-family: FEHFont;
    width: 15%;
    margin:10px;

}
.formBox2 {
    font-family: FEHFont;
    width: 95%;
}
.formBox:hover, .formBox2:hover, .formNumBox:hover, .formButton:hover {
    background-color: black;
    opacity:0.3;
    color: white;
    transition: background-color 0.3s ease-in-out;
}
.formButton {
    font-family: FEHFont;
    width: 95%;
    border: 1px solid black;
}
.formButton:active {
    background-color: grey;
}
.formNumBox {
    font-family: FEHFont;
}
.herotable {
    margin-bottom: 10px;
    width: 70%;
    margin-left:15%;
}
.herotable td {
    width: 25%;
}

.ivtable {
    text-align: center;
    width: 100%;

}
.ivtable td {
    width: 30%;
}

.plusBox {
    text-align: center;
    font-size: 130%;
    border: 1px solid black;
    background-color: black;
    opacity: 0.3;
    width: 15%;
    color: white;
    font-weight: bold;
    margin-left: 42.25%;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: opacity 0.3s ease-in-out;
}
.plusBox:hover {
    cursor: pointer;
    opacity: 0.5;
}
.plusBox:active {
    opacity: 0.8;
}

/*Radio Button code*/
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid green;
}

/*Expanding table code*/
tr td div {
  max-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 0.3s;
}
tr.active td div {
  max-height: 1000px;
  transition: max-height 1s;
}
